In [24]:
import pandas as pd


movies_data_file_name = 'movies_metadata.csv'
credits_data_file_name = 'credits.csv'

def load_data(data_file_name):
    return pd.read_csv(data_file_name)


movies_data = load_data(movies_data_file_name)
credits_data = load_data(credits_data_file_name)

/var/folders/1m/l62lw4sj1msggc6lrf4hykdw0000gn/T/ipykernel_95239/1619763675.py:8: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(data_file_name)

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

In [54]:
class Column:
    def __init__(self, name: str, _type: str):
        self.name = name
        self.type = _type

class Table:
    def __init__(self, name: str, data: pd.DataFrame, columns: list[Column]):
        self.name = name
        self.data = data
        self.columns = columns
    
    def get_records(self):
        return self.data[[column.name for column in self.columns]]
    
    def get_columns(self):
        return self.columns

    def cretae_table_command(self):
        cmd = f"CREATE TABLE {self.name} ("
        for column in self.columns:
            cmd += f"{column.name} {column.type},"
        cmd = cmd[:-1]
        cmd += ")"
        return cmd

    def insert_records(self):
        cmd = f"INSERT INTO {self.name} ("
        for column in self.columns:
            cmd += f"{column.name},"
        cmd = cmd[:-1]
        cmd += ") VALUES ("
        for i in range(len(self.columns)):
            cmd += "%s,"
        cmd = cmd[:-1]
        cmd += ")"
        return cmd, self.get_records().values.tolist()[:2]


movies_table = Table("movies", movies_data, [Column("imdb_id", "INT"), Column("title", "VARCHAR(255)")])
print(movies_table.insert_records())

('INSERT INTO movies (imdb_id,title) VALUES (%s,%s)', [['tt0114709', 'Toy Story'], ['tt0113497', 'Jumanji']])